@font-face {
    font-family: 'Source Code Pro';
    src: url("./SourceCodePro-Medium.ttf");
}

:root {
    --orange: #e9a200;
    --gray: #999999;
    --green: #65be67;
    --red: #d74444;
    --blue: #4481d7;
}

* {
    background-color: #383738;
    color: #ffe9c4;
    font-family: 'Source Code Pro';
    align-items: center;
    margin-top:1vh;
}

button {
    border: 3px outset var(--gray);
    background-color: var(--gray);
    color: black;
}

button:hover {
    border: 3px outset var(--orange);
    background-color: var(--orange);
    color: black;
}

button:active {
    border: 3px inset var(--orange);
    background-color: var(--orange);
    color: black;
}

.blueButton:hover { border: 3px outset var(--blue); background-color: var(--blue); color: black;}
.blueButton:active { border: 3px inset var(--blue); background-color: var(--blue); color: black;}
.redButton:hover { border: 3px outset var(--red); background-color: var(--red); color: black;}
.redButton:active { border: 3px inset var(--red); background-color: var(--red); color: black;}
.greenButton:hover { border: 3px outset var(--green); background-color: var(--green); color: black;}
.greenButton:active { border: 3px inset var(--green); background-color: var(--green); color: black;}

.flexCol {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.flexRow {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.modalContainer {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 6969;
    padding: 5px;
    border-radius: 3px;
    border: 4px solid;
    background-color: #383738;
}

.tabHolder {padding:1vw 1vh 1vw 1vh;}

/*ID Styling*/

#navBar button, #settingsButtonHolder button {margin-left: 0.5em; margin-right: 0.5em;}

#promptInput {background-color: #383738; border: 2px solid; border-radius: 2px;}

/*Notify Styling*/
.notifyjs-bootstrap-base {
	font-weight: bold;
	padding: 8px 15px 8px 14px;
	background-color: #fcf8e3;
	border: 5px solid #fbeed5;
	white-space: nowrap;
	padding-left: 15px;
	background-repeat: no-repeat;
	background-position: 3px 7px;
    border-radius: 4px;
}
.notifyjs-bootstrap-error {
	color: whitesmoke;
	background-color: #bf352d;
	border-color: #9e160f;
}
.notifyjs-bootstrap-success {
	color: whitesmoke;
	background-color: #1eb93a;
	border-color: #0c8021;
}
.notifyjs-bootstrap-info {
	color: whitesmoke;
	background-color: #3b8dff;
	border-color: #006aff;
}
.notifyjs-bootstrap-warn {
	color: whitesmoke;
	background-color: #DBD800;
	border-color: #BAB700;
}
.notifyjs-corner, .notifyjs-hidable , .notifyjs-container, .notifyjs-container div span { background-color: rgba(0, 0, 0, 0); color:black;}